<!DOCTYPE html>
<html>
    <head>
        <title>aiub clone</title>
        <link rel="stylesheet"  href="../css/login.css">
    </head>
    <body>
      <form onsubmit="return check()">
        <center>
            <div>
                
                <a href="../view/maindeshboard.html" ><img src="../image/IMG-20250823-WA0011.jpg" alt="AIUB" style="width: 80px; height:80px;"></a>
                <h2>UNIVERSITY MANAGEMENT SYSTEM</h2>
                <p style="color:brown;font-size: 17px;">please fill these blocks to to Login</p>
               <input type="text" placeholder="enter user id" id="id" ><br>
               <span id="iderror" style="color: rgb(251, 99, 99); font-size: 15px;"></span><br>
               <input type="text" placeholder="enter password" id="pass" ><br>
               <span id="passerror"style="color: rgb(251, 99, 99); font-size: 15px;"></span><br><br>
               <button type="submit">LOGIN</button>
               <br><br><br>
               <a href="../view/Aiub .html" style="font-size: 17px;">forgot password</a><br><br>
                <a href="../php/registration.php" style="font-size: 17px;">Don't have a account? </a>
            </div>
        </center>
     </form>
        <script src="../js/login.js">
        </script>
       
    </body>
</html>