<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="scripts.js"></script>
</head>
<body style="background-color: lightblue;">
    <center>

        <h1 style="color: brown;">Welcome our university</h1>
    </center>
    <div class="nav-bar" style="text-align:right;">
        <a href="../view/login.html"><button>Login</button></a>
    <a href="aboutus.html"><button>AboutUs</button></a>
    <a href="support.html"><button>support</button></a>
    </div>
    <center>
        <img src="../image/project.png" alt="University Logo" width="200" height="200"><br><br>

        <img src="../image/admission.png" alt="admission" width="1000" height="300"><br><br>
        <img src="../image/faculties.png" alt="faculties" width="1000" height="300"><br><br>

    </center>
    <br><br>

   

   

    

  

</body>
    
    
    